name: CI with Docker

on:
  push:
  pull_request:
    branches:
      - main 

jobs:
  run-tests:
    name: Run Tests in Docker
    runs-on: [ubuntu-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests in Docker
        run: docker build -t fizzbuzz .

      - name: Run tests in Docker
        run: docker run --rm fizzbuzz